<div class="slider">
  <div class="slides"></div>
</div>

<div class="content_shop">
  <div class="cards"></div>
</div>

<div class="selected_category_list">
<div class="product_header"></div>
  <div class="filters">
    <ul>
      <li><strong>Pegi</strong></li>
      <input type="checkbox" class="filter_check pegi" name="pegi" value="3"/>3
      <input type="checkbox" class="filter_check pegi" name="pegi" value="7"/>7
      <input type="checkbox" class="filter_check pegi" name="pegi" value="12"/>12
      <input type="checkbox" class="filter_check pegi" name="pegi" value="16"/>16
      <input type="checkbox" class="filter_check pegi" name="pegi" value="18"/>18

      <li><strong>Edition</strong></li>
      <input type="checkbox" class="filter_check edition" name="edition" value="Standard"/>Standard
      <input type="checkbox" class="filter_check edition" name="edition" value="Deluxe"/>Deluxe
      <input type="checkbox" class="filter_check edition" name="edition" value="Collectionist"/>Collectionist

      <li><strong>Languages</strong></li>
      <input type="checkbox" class="filter_check languages" name="languages" value="English"/>English
      <input type="checkbox" class="filter_check languages" name="languages" value="Italian"/>Italian
      <input type="checkbox" class="filter_check languages" name="languages" value="Spanish"/>Spanish
      <br/>
    </ul>
    <button id="filter_button_submit">Filter</button>
  </div>
  <div class="product_content"></div>
</div>

<div class="videogame_details"></div>